// $imagewidth: 900px
// $imageheight: 600px
// $maskwidth: 450px
// $maskheight: 300px
html,
body
	height: 100%
body
	font-family: 'Inconsolata', 'Monaco', 'Source Code Pro' Courier
	background: #111
	-webkit-transition: 1s ease background-color
	&.drag
		background: #333
		.upload
			color: transparent
		.plus
			color: white

fieldset
	// display: none
	border: 0
	// position: fixed
	right: 5em
	top: 3em
	z-index: 10
	background: papayawhip
ul
	list-style: none
	padding: 0
li
	margin: 0 0 0.5em 0
	&:last-child
		margin-bottom: 0
a
	color: coral
	border-bottom: 2px solid
	&:hover
		background: darken(papayawhip, 10%)
		cursor: pointer
hr
	margin: 1em 0
	border: 0
	border-bottom: 2px solid rgba(0,0,0,.3)
input[type="text"]
	border: 0
	border-bottom: 2px solid
	outline: 0
	color: #666
	background: transparent
	width: 60px
h4
	margin-top: 0
	color: #999
	display: inline-block
.hidden
	display: none !important
#container
	background: #111
	position: relative
	-webkit-transition: 1s ease all
#background-position
	font-size: 0.8em
	color: #555
	margin-left: 1em
#wef
	position: fixed
	bottom: 0
	z-index: 2
	left: 0
#mask
	position: absolute
	outline: 1px solid papayawhip
	// overflow: hidden
	&.animate
		-webkit-animation-name: ken-burns
		// -webkit-animation-duration: 30s
		// -webkit-animation-iteration-count: infinite
		// -webkit-animation-timing-function: ease
		// -webkit-animation-fill-mode: forwards
	&.selection-box
		cursor: crosshair

#image
	opacity: .3
	cursor: move
	// width: 100%
	// position: relative
	// height: auto
	// margin: 2em auto
	// overflow: hidden
	// background: coral
	// background-position: 0px 0px

	// animation-name: ken-burns
	// animation-duration: 30s
	// animation-iteration-count: infinite
	// animation-timing-function: ease
	// animation-fill-mode: forwards
	// animation-delay: 0s

button
	display: inline-block
	border: 0
	border-radius: 2px
	font-family: "Inconsolata", Courier, Monaco
	-webkit-font-smoothing: antialiased

#mask-submit,
#animate
	display: block
	border: 2px solid aquamarine
	color: aquamarine
	background: transparent

select
	-webkit-appearance: none
	border: 0
	background: rgba(255,255,255,.1)
	color: #999
	font-family: "Inconsolata", Courier, Monaco
	font-size: 1em
	border-radius: 2px
	text-indent: 0.5em
	cursor: pointer
.vertical-align
	display: table
	width: 100%
	height: 100%
.upload,
.plus
	pointer-events: none
.upload
	color: #666
	text-align: center
	font-size: 1em
	text-transform: uppercase
	letter-spacing: 3px
	line-height: 1.5
	display: table-cell
	vertical-align: middle
	-webkit-transition: 1s ease all
	position: relative
	z-index: 2
.plus
	color: transparent
	-webkit-transition: 1s ease all
	font-size: 10em
	position: fixed
	top: 50%
	left: 50%
	width: 80px
	height: 80px
	line-height: 80px
	margin-left: -40px
	margin-top: -40px
	z-index: 1
.animation-hold
	background: rgba(0,0,0,0.1)
	position: fixed
	top: 0
	left: 0
	color: #666
	padding: 1em
	-webkit-transform: translateX(-100%)
	-webkit-transition: .5s ease all
	button
		background: rgba(255,255,255,.1)
		padding: 0 0.5em
		color: #999
		-webkit-transition: .5s ease all
		&:hover
			color: white
			background: rgba(255,255,255,.2)
	&.visible
		-webkit-transform: translateX(0)
input
	position: relative
	&:before
		position: absolute
		left: 0
		top: 1em
		content: "[d: " attr(value) "] " attr(data-value) attr(data-unit)
		display: block
		// content: attr(value)


// @-webkit-keyframes ken-burns
// 	0%
// 		background-position: 0 0
// 	50%
// 		background-position: 0 0
// 	100%
// 		background-position: 0 0

// @keyframes ken-burns
// 	0%
// 		background-position: 0 0
// 	50%
// 		background-position: 0 0
// 	100%
// 		background-position: 0 0

.mask-size-input
	width: 100%
	max-width: 140px
	margin: 15% auto 0 auto
	color: white
	input
		width: 80%
		margin-bottom: 1em
		margin-right: 10px

#map
	position: relative

#map-canvas
	position: absolute