/* line 5, global.sass */
html,
body {
  height: 100%; }

/* line 8, global.sass */
body {
  font-family: "Inconsolata", "Monaco", "Source Code Pro" Courier;
  background: #111111;
  -webkit-transition: 1s ease background-color; }
  /* line 12, global.sass */
  body.drag {
    background: #333333; }
    /* line 14, global.sass */
    body.drag .upload {
      color: transparent; }
    /* line 16, global.sass */
    body.drag .plus {
      color: white; }

/* line 19, global.sass */
fieldset {
  border: 0;
  right: 5em;
  top: 3em;
  z-index: 10;
  background: papayawhip; }

/* line 27, global.sass */
ul {
  list-style: none;
  padding: 0; }

/* line 30, global.sass */
li {
  margin: 0 0 0.5em 0; }
  /* line 32, global.sass */
  li:last-child {
    margin-bottom: 0; }

/* line 34, global.sass */
a {
  color: coral;
  border-bottom: 2px solid; }
  /* line 37, global.sass */
  a:hover {
    background: #ffdca2;
    cursor: pointer; }

/* line 40, global.sass */
hr {
  margin: 1em 0;
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3); }

/* line 44, global.sass */
input[type="text"] {
  border: 0;
  border-bottom: 2px solid;
  outline: 0;
  color: #666666;
  background: transparent;
  width: 60px; }

/* line 51, global.sass */
h4 {
  margin-top: 0;
  color: #999999;
  display: inline-block; }

/* line 55, global.sass */
.hidden {
  display: none !important; }

/* line 57, global.sass */
#container {
  background: #111111;
  position: relative;
  -webkit-transition: 1s ease all; }

/* line 61, global.sass */
#background-position {
  font-size: 0.8em;
  color: #555555;
  margin-left: 1em; }

/* line 65, global.sass */
#wef {
  position: fixed;
  bottom: 0;
  z-index: 2;
  left: 0; }

/* line 70, global.sass */
#mask {
  position: absolute;
  outline: 1px solid papayawhip; }
  /* line 74, global.sass */
  #mask.animate {
    -webkit-animation-name: ken-burns; }
  /* line 80, global.sass */
  #mask.selection-box {
    cursor: crosshair; }

/* line 83, global.sass */
#image {
  opacity: 0.3;
  cursor: move; }

/* line 101, global.sass */
button {
  display: inline-block;
  border: 0;
  border-radius: 2px;
  font-family: "Inconsolata", Courier, Monaco;
  -webkit-font-smoothing: antialiased; }

/* line 108, global.sass */
#mask-submit,
#animate {
  border: 2px solid aquamarine;
  color: aquamarine;
  background: transparent; }

/* line 113, global.sass */
#mask-submit {
  display: block; }

/* line 115, global.sass */
#reset {
  border: 2px solid grey;
  color: grey;
  margin-left: 20px; }

/* line 119, global.sass */
select {
  -webkit-appearance: none;
  border: 0;
  background: rgba(255, 255, 255, 0.1);
  color: #999999;
  font-family: "Inconsolata", Courier, Monaco;
  font-size: 1em;
  border-radius: 2px;
  text-indent: 0.5em;
  cursor: pointer; }

/* line 129, global.sass */
.vertical-align {
  display: table;
  width: 100%;
  height: 100%; }

/* line 133, global.sass */
.upload,
.plus {
  pointer-events: none; }

/* line 136, global.sass */
.upload {
  color: #666666;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.5;
  display: table-cell;
  vertical-align: middle;
  -webkit-transition: 1s ease all;
  position: relative;
  z-index: 2; }

/* line 148, global.sass */
.plus {
  color: transparent;
  -webkit-transition: 1s ease all;
  font-size: 10em;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  z-index: 1; }

/* line 161, global.sass */
.animation-hold {
  background: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  color: #666666;
  padding: 1em;
  -webkit-transform: translateX(-100%);
  -webkit-transition: 0.5s ease all; }
  /* line 170, global.sass */
  .animation-hold button {
    background: rgba(255, 255, 255, 0.1);
    padding: 0 0.5em;
    color: #999999;
    -webkit-transition: 0.5s ease all; }
    /* line 175, global.sass */
    .animation-hold button:hover {
      color: white;
      background: rgba(255, 255, 255, 0.2); }
  /* line 178, global.sass */
  .animation-hold.visible {
    -webkit-transform: translateX(0); }

/* line 180, global.sass */
input {
  position: relative; }
  /* line 182, global.sass */
  input:before {
    position: absolute;
    left: 0;
    top: 1em;
    content: "[d: " attr(value) "] " attr(data-value) attr(data-unit);
    display: block; }

/* line 207, global.sass */
.mask-size-input {
  width: 100%;
  max-width: 140px;
  margin: 15% auto 0 auto;
  color: white; }
  /* line 212, global.sass */
  .mask-size-input input {
    width: 80%;
    margin-bottom: 1em;
    margin-right: 10px; }

/* line 217, global.sass */
#map {
  position: relative; }

/* line 220, global.sass */
#map-canvas {
  position: absolute; }
