body {
  font-family: "Inconsolata", "Monaco", "Source Code Pro" Courier;
  background: papayawhip; }

fieldset {
  border: 0;
  position: fixed;
  right: 5em;
  top: 3em;
  z-index: 10;
  background: papayawhip; }

ul {
  list-style: none;
  padding: 0; }

li {
  margin: 2em 0; }

a {
  color: coral;
  border-bottom: 2px solid; }
  a:hover {
    background: #ffdca2;
    cursor: pointer; }

label {
  display: block; }

#image {
  position: relative;
  height: auto;
  margin: 2em auto;
  overflow: hidden;
  background: coral;
  background-position: 0px 0px; }

input {
  position: relative; }
  input:before {
    position: absolute;
    left: 0;
    top: 1em;
    content: "[d: " attr(value) "] " attr(data-value) attr(data-unit); }

@-webkit-keyframes ken-burns {
  0% {
    background-position: 0 0; }

  50% {
    background-position: -750px;
    background-position: -880px -508px; }

  100% {
    background-position: 0 0; } }

#map {
  position: relative; }

#map-canvas {
  position: absolute; }
